.btn-custom-margin {
  margin-left: 10px;
}
/* Add this to your index.scss */

/* Ensure dropdown is displayed correctly */
.dropdown-menu {
  display: none; /* Hide dropdown by default */
  column-count: 2; /* Create two columns */
  column-gap: 1rem; /* Adjust gap between columns */
}

/* Show dropdown on hover */
.hover-dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  padding: 0.5rem 1rem; /* Adjust padding as needed */
}
/* Set font size for navigation links */
.navbar-nav .nav-link {
  font-size: 14px; /* Adjust font size */
}

/* Ensure font size for dropdown items */
.dropdown-menu .dropdown-item {
  font-size: 14px; /* Adjust font size */
}
.me-2 {
  margin-left: .5rem !important;
}
.dropdown-toggle::after {
  display: inline-block;
  margin-right: .255em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
  margin-bottom: -7px;
}
.text-size-14 {
  font-size: 14px !important; // Ensure the font size is applied
}

.navbar-dark .navbar-nav .nav-link {
  color: white; // Sets the color of all navigation links to white
  transition: all .3s ease-out;
  vertical-align: middle;
}
.navbar-dark .navbar-nav .nav-link:hover{
  color: #f9ad03;
}

.navbar-dark .dropdown-menu {
  background-color: #343a40; // Optional: set background color of dropdown to match navbar
}

.navbar-dark .dropdown-item {
  color: white; // Sets the color of dropdown items to white
}





// Ensure that the background color does not change on hover

.custom-border-start {
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0 0 0 32px;
}
.me-1 {
  margin-right: -0.75rem !important;
}
/* index.scss */
.header-sticky {
  position: sticky;
  top: 0;
  z-index: 1000; /* Ensure the header is above other content */
}
